.main-footer {
    margin-top: 20px;

    a {
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 5px;
        justify-content: flex-start;
        align-items: center;
        font-family: "Abcmonumentgrotesk trial", sans-serif;
        color: #171717;
        font-weight: 900;
        text-decoration: none;
    }
}
